Q1. What is a database? Differentiate between SQL and NoSQL databases.

Database :- A database is an organized collection of structured or unstructured data that can be accessed, managed, and updated in a systematic way. Databases are used to store and manage data for various applications, ranging from small-scale personal applications to large-scale enterprise systems.

SQL and NoSQL are two different types of databases that differ in their structure, data model, and query language:

SQL databases:- SQL stands for Structured Query Language, which is a language used to manage and manipulate relational databases. SQL databases store data in a structured manner, using tables with predefined columns and data types. Each table has a unique key, and the data is stored in rows that correspond to records in the table. SQL databases are highly structured and provide a high level of data integrity and consistency. Some examples of SQL databases include MySQL, Oracle, and PostgreSQL.

NoSQL databases:- NoSQL stands for "not only SQL", which means that NoSQL databases are not limited to SQL query language. NoSQL databases store data in a non-structured or semi-structured manner, using documents, key-value pairs, or graphs.Some examples of NoSQL databases include MongoDB, Cassandra, and Redis.

In summary, SQL databases are highly structured, provide high data integrity and consistency, and use SQL as a query language. NoSQL databases are highly scalable, provide greater flexibility and agility, and use non-structured or semi-structured data models.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

ANSWER:- DDL:- DDL stands for Data Definition Language, which is a set of SQL commands used to create, modify, and delete database objects such as tables, indexes, and constraints. DDL is used to define the structure of a database and its objects.

List of DDL commands: 

-->> CREATE: This command is used to create the database or its objects (like table, index)

-->> DROP: This command is used to delete objects from the database.

-->> ALTER: This is used to alter the structure of the database.

-->> TRUNCATE: This is used to remove all records from a table, including all spaces allocated for the records are       removed.

-->> COMMENT: This is used to add comments to the data dictionary.

-->> RENAME: This is used to rename an object existing in the database.

In [ ]:
# it is example of CREATE method

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists test")
mycursor.execute("CREATE TABLE if not exists test.test_table(name VARCHAR(50) , roll INT , id VARCHAR(30)) ;")
mycursor.execute("CREATE TABLE if not exists test.test1_table(name VARCHAR(50) , roll INT , id VARCHAR(30)) ;")
mycursor.execute("CREATE TABLE if not exists test.test2_table(name VARCHAR(50) , roll INT , id VARCHAR(30)) ;")
mycursor.execute("DROP TABLE test.test_table")
mycursor.execute("TRUNCATE TABLE test.test2_table")
mycursor.execute("ALTER TABLE test.test1_table ADD Email varchar(20);")
mydb.close()

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is a set of SQL commands used to insert, update, and delete data in a database table. DML commands are used to modify the data stored in a table.

List of DML commands: 

--> INSERT : It is used to insert data into a table.

--> UPDATE: It is used to update existing data within a table.

--> DELETE : It is used to delete records from a database table.

EX of INSERT::

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()

mycursor.execute("insert into test.test_table values('saroj' , 020 , 'AA')")
mycursor.execute("insert into test.test_table values('ram' , 021 , 'DD')")
mycursor.execute("insert into test.test_table values('nilu' , 021 , 'AA')")
mycursor.execute("insert into test.test_table values('manoj' , 022 , 'CC')")
mycursor.execute("insert into test.test_table values('sam' , 023 , 'FF')")
mycursor.execute("insert into test.test_table values('rissi' , 024 , 'AA')")
mycursor.execute("insert into test.test_table values('kasto' , 025 , 'AA')")

mydb.commit()
mydb.close()

EX of UPDATE::

In [ ]:
import mysql.connector 

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password",
  database="test"
)
mycursor = mydb.cursor()
mycursor.execute("UPDATE test_table SET id = 'EE' WHERE id = 'FF'")
mydb.commit()
mydb.close()

EX of DELETE::

In [ ]:
import mysql.connector 

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password",
)
mycursor = mydb.cursor()
mycursor.execute("DELETE FROM test.test_table WHERE id = 'DD'")
mydb.commit()
mydb.close()

Q4. What is DQL? Explain SELECT with an example.

ANSWER:- DQL stands for Data Query Language, which is a set of SQL commands used to retrieve data from a database table. DQL commands are used to query the data stored in a table.

List of DQL: 

SELECT: It is used to retrieve data from the database.

EX of SELECT::

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(    # it is creating connection
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor() # upto this it is used for any database creating
mycursor.execute("select * from test.test_table")  
for i in mycursor.fetchall() :
    print(i)
mydb.close()  # to close the connection

Q5. Explain Primary Key and Foreign Key.

ANSWER:- 

Primary key:- A primary key is the column or columns that contain values that uniquely identify each row in a table. A database table must have a primary key for Optim to insert, update, restore, or delete data from a database table.

Foreign Key:- it is an attributs or set of attributes that reference to primary key of same table or another table.
In SQL, a foreign key is a column or group of columns in a table that refers to the primary key of another table. It establishes a relationship between two tables.

for example two table is present one is student_data & another is course_data. this two table is related with each other, in student_data there is one colume is present name is roll_no , it is the primary key of student_data table & in course_data table there is also a colume present name is roll_no,this colume value or values is same as present in student_data table roll_no colume. in this course_data table the roll_no colume is called as a foreign key.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

ANSWER:-

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists test")
mydb.close()

cursor():-

        The cursor() method in Python is used to create a cursor object, which allows us to execute SQL commands on the database. The cursor object provides methods to execute SQL commands, fetch data from the database, and handle transactions.

execute():-

        The execute() method is used to execute SQL commands on the database using the cursor object. It takes an SQL query as its argument and returns the result of the query. For example, to execute a SELECT query on a MySQL database using the cursor object,

Q7. Give the order of execution of SQL clauses in an SQL query.

--> FROM clause: The FROM clause specifies the table or tables from which the data is selected.

--> WHERE clause: The WHERE clause filters the rows returned by the query based on a specified condition.

--> GROUP BY clause: The GROUP BY clause groups the result set by one or more columns.

--> HAVING clause: The HAVING clause filters the groups returned by the GROUP BY clause based on a specified condition.

--> SELECT clause: The SELECT clause selects the columns to be returned by the query and can include aggregate functions, expressions, and aliases.

--> ORDER BY clause: The ORDER BY clause sorts the result set by one or more columns.

--> LIMIT clause: The LIMIT clause limits the number of rows returned by the query.

Note that not all SQL queries include all of these clauses, and the order of execution may vary based on the specific query. However, in general, this is the typical order of execution for a standard SQL query.