Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

ANSWER:-

MongoDB is a popular document-oriented NoSQL database that stores data in flexible, JSON-like documents. It is designed to provide high performance, scalability, and flexibility for modern applications that require dynamic, complex data structures.

Non-relational databases, also known as NoSQL databases, are databases that do not use the traditional table-based relational database model used in SQL databases. Instead, they use flexible data models that can handle semi-structured and unstructured data, making them ideal for handling big data and real-time data processing.

MongoDB is often preferred over SQL databases in situations where the application requires a high degree of scalability and flexibility, real-time processing of large volumes of unstructured data, and the ability to handle complex data models. It is also well-suited for use in modern web and mobile applications that require fast development cycles.

Q2. State and Explain the features of MongoDB.

ANSWER

MongoDB is a popular document-oriented NoSQL database that provides a wide range of features that make it a popular choice for modern application development.

Document-based data model: MongoDB stores data in documents, which are similar to JSON objects. This allows for a flexible and scalable data model that can easily handle complex data structures.

Duplication of data: MongoDB can run over multiple servers. The data is duplicated to keep the system up and also keep its running condition in case of hardware failure.

Scalability: MongoDB is highly scalable and can handle large amounts of data and traffic with ease.

High availability: MongoDB provides automatic failover and replica sets to ensure that your data is always available, even in the event of hardware or network failures.

Aggregation framework: MongoDB provides a built-in aggregation framework that allows you to perform complex data processing tasks such as grouping, filtering, and transforming data.

Full-text search: MongoDB provides full-text search capabilities that allow you to perform text-based searches on your data.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [11]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://assignment:assignment@cluster0.zoaslct.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [2]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 16.2 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 35.9 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [12]:
db

Database(MongoClient(host=['ac-rrkaaoh-shard-00-00.zoaslct.mongodb.net:27017', 'ac-rrkaaoh-shard-00-01.zoaslct.mongodb.net:27017', 'ac-rrkaaoh-shard-00-02.zoaslct.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-l8shti-shard-0', tls=True), 'test')

In [13]:
client = pymongo.MongoClient("mongodb+srv://assignment:assignment@cluster0.zoaslct.mongodb.net/?retryWrites=true&w=majority")

In [18]:
db = client["assignment"] # to create a database

In [19]:
# to create data to store in mongodb by using collection
data = {"name" : "saroj",
        "class" : "DSM",
        "time" : "flexi"}

In [20]:
# to create a collection in Mongodb to store data which is equivalent to table in MySQL
coll_pwskills = db["assignment_record"]

In [21]:
# to store the data in collection
coll_pwskills.insert_one(data)

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [22]:
# insert one data
data1 = {"name" : "ram",
        "class" : "WEB DEV",
        "time" : "flexi"}

coll_pwskills.insert_one(data1)

In [24]:
# insert many record
data2 = [                                       
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]
    
coll_pwskills.insert_many(data2)

In [26]:
# find_one() methods to print the inserted record

coll_pwskills.find_one()

{'_id': ObjectId('6432d8e373b4279fefeff59c'),
 'name': 'saroj',
 'class': 'DSM',
 'time': 'flexi'}

In [27]:
# find() methods to print the inserted record

for i in coll_pwskills.find() :
    print(i)

{'_id': ObjectId('6432d8e373b4279fefeff59c'), 'name': 'saroj', 'class': 'DSM', 'time': 'flexi'}
{'_id': ObjectId('6432da6473b4279fefeff59d'), 'name': 'ram', 'class': 'WEB DEV', 'time': 'flexi'}
{'_id': ObjectId('6432daba73b4279fefeff59e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6432daba73b4279fefeff59f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6432daba73b4279fefeff5a0'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6432daba73b4279fefeff5a1'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6432daba73b4279fefeff5a2'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6432daba73b4279fefeff5a3'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6432daba73b4279fefeff5a4'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6432daba73b4279fefeff5a5'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6432daba73b4279fefeff5a6'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6432daba73b4279fefeff5a7'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6432daba73b4279fefeff5a8'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6432daba73b4279fefeff5a9'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [29]:
# find() methods to print the particular record

for i in coll_pwskills.find({'name': 'Hannah'}) :
    print(i)

{'_id': ObjectId('6432daba73b4279fefeff59f'), 'name': 'Hannah', 'address': 'Mountain 21'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

ANSWER:- 
In MongoDB, find() method is used to select documents in a collection and return a cursor to the selected documents. Cursor means a pointer that points to a document, when we use find() method it returns a pointer on the selected documents and returns one by one.

In [30]:
# find() methods to print the inserted record

for i in coll_pwskills.find() :
    print(i)

{'_id': ObjectId('6432d8e373b4279fefeff59c'), 'name': 'saroj', 'class': 'DSM', 'time': 'flexi'}
{'_id': ObjectId('6432da6473b4279fefeff59d'), 'name': 'ram', 'class': 'WEB DEV', 'time': 'flexi'}
{'_id': ObjectId('6432daba73b4279fefeff59e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6432daba73b4279fefeff59f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6432daba73b4279fefeff5a0'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6432daba73b4279fefeff5a1'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6432daba73b4279fefeff5a2'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6432daba73b4279fefeff5a3'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6432daba73b4279fefeff5a4'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6432daba73b4279fefeff5a5'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6432daba73b4279fefeff5a6'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6432daba73b4279fefeff5a7'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6432daba73b4279fefeff5a8'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6432daba73b4279fefeff5a9'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [31]:
# find() methods to print the particular record

for i in coll_pwskills.find({'name': 'Hannah'}) :
    print(i)

{'_id': ObjectId('6432daba73b4279fefeff59f'), 'name': 'Hannah', 'address': 'Mountain 21'}

In [32]:
# find() methods to print the particular record

for i in coll_pwskills.find({'class': 'DSM'}) :
    print(i)

{'_id': ObjectId('6432d8e373b4279fefeff59c'), 'name': 'saroj', 'class': 'DSM', 'time': 'flexi'}

In [33]:
# find_one() methods to print the inserted record

coll_pwskills.find_one()

{'_id': ObjectId('6432d8e373b4279fefeff59c'),
 'name': 'saroj',
 'class': 'DSM',
 'time': 'flexi'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

ANSWER:- The sort() method in MongoDB is used to sort the results of a query in ascending or descending order based on one or more fields. The sort() method takes one or more arguments that specify the sorting criteria, and returns a cursor object that can be used to iterate over the sorted results.

By default, the sort() method sorts the results in ascending order based on the specified field(s). To sort the results in descending order, you can pass the value -1 as the sorting criteria for the field(s).

In [40]:
# sorting by name assending order

for i in coll_pwskills.find().sort('name') :
    print(i)

{'_id': ObjectId('6432daba73b4279fefeff59e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6432daba73b4279fefeff5a6'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6432daba73b4279fefeff5a2'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6432daba73b4279fefeff5a8'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6432daba73b4279fefeff59f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6432daba73b4279fefeff5a0'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6432daba73b4279fefeff5a3'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6432daba73b4279fefeff5a1'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6432daba73b4279fefeff5a4'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6432daba73b4279fefeff5a5'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6432daba73b4279fefeff5a9'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6432daba73b4279fefeff5a7'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6432da6473b4279fefeff59d'), 'name': 'ram', 'class': 'WEB DEV', 'time': 'flexi'}
{'_id': ObjectId('6432d8e373b4279fefeff59c'), 'name': 'saroj', 'class': 'DSM', 'time': 'flexi'}

In [39]:
# sorting by name decending order

for i in coll_pwskills.find().sort('name' , -1) :
    print(i)

{'_id': ObjectId('6432d8e373b4279fefeff59c'), 'name': 'saroj', 'class': 'DSM', 'time': 'flexi'}
{'_id': ObjectId('6432da6473b4279fefeff59d'), 'name': 'ram', 'class': 'WEB DEV', 'time': 'flexi'}
{'_id': ObjectId('6432daba73b4279fefeff5a7'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6432daba73b4279fefeff5a9'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6432daba73b4279fefeff5a5'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6432daba73b4279fefeff5a4'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6432daba73b4279fefeff5a1'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6432daba73b4279fefeff5a3'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6432daba73b4279fefeff5a0'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6432daba73b4279fefeff59f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6432daba73b4279fefeff5a8'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6432daba73b4279fefeff5a2'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6432daba73b4279fefeff5a6'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6432daba73b4279fefeff59e'), 'name': 'Amy', 'address': 'Apple st 652'}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

ANSWER:-- 

delete_one(): This method deletes the first document that matches the specified filter criteria. If multiple documents match the filter, only the first one is deleted.

delete_many(): This method deletes all documents that match the specified filter criteria.

drop(): This method deletes an entire collection and all of its documents.

These methods are used for different purposes:

delete_one(): This method is useful when you want to delete a single document from a collection based on a specific filter criteria. For example, you might use delete_one() to remove a specific order from an orders collection.

delete_many(): This method is useful when you want to delete multiple documents from a collection based on a specific filter criteria. For example, you might use delete_many() to remove all orders that have a status of "cancelled".

drop(): This method is useful when you want to delete an entire collection and all of its documents. For example, you might use drop() to remove a collection that is no longer needed or that contains outdated data.

In [42]:
# to delete one data

coll_pwskills.delete_one({'class': 'WEB DEV'})

for i in coll_pwskills.find() :
    print(i)

{'_id': ObjectId('6432d8e373b4279fefeff59c'), 'name': 'saroj', 'class': 'DSM', 'time': 'flexi'}
{'_id': ObjectId('6432daba73b4279fefeff59e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6432daba73b4279fefeff59f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6432daba73b4279fefeff5a0'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6432daba73b4279fefeff5a1'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6432daba73b4279fefeff5a2'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6432daba73b4279fefeff5a3'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6432daba73b4279fefeff5a4'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6432daba73b4279fefeff5a5'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6432daba73b4279fefeff5a6'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6432daba73b4279fefeff5a7'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6432daba73b4279fefeff5a8'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6432daba73b4279fefeff5a9'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [43]:
# insert some randome data

random_data = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'},
]

coll_pwskills.insert_many(random_data)

for i in coll_pwskills.find() :
    print(i)

{'_id': ObjectId('6432d8e373b4279fefeff59c'), 'name': 'saroj', 'class': 'DSM', 'time': 'flexi'}
{'_id': ObjectId('6432daba73b4279fefeff59e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6432daba73b4279fefeff59f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6432daba73b4279fefeff5a0'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6432daba73b4279fefeff5a1'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6432daba73b4279fefeff5a2'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6432daba73b4279fefeff5a3'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6432daba73b4279fefeff5a4'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6432daba73b4279fefeff5a5'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6432daba73b4279fefeff5a6'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6432daba73b4279fefeff5a7'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6432daba73b4279fefeff5a8'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6432daba73b4279fefeff5a9'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [44]:
# to delete many data / more data

coll_pwskills.delete_many({'companyName': 'iNeuron'})

for i in coll_pwskills.find() :
    print(i)

{'_id': ObjectId('6432d8e373b4279fefeff59c'), 'name': 'saroj', 'class': 'DSM', 'time': 'flexi'}
{'_id': ObjectId('6432daba73b4279fefeff59e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6432daba73b4279fefeff59f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6432daba73b4279fefeff5a0'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6432daba73b4279fefeff5a1'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6432daba73b4279fefeff5a2'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6432daba73b4279fefeff5a3'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6432daba73b4279fefeff5a4'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6432daba73b4279fefeff5a5'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6432daba73b4279fefeff5a6'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6432daba73b4279fefeff5a7'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6432daba73b4279fefeff5a8'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6432daba73b4279fefeff5a9'), 'name': 'Viola', 'address': 'Sideway 1633'}